#a1{
    background-color: rgb(14, 3, 53);
}
#a2{
    color: white;
    letter-spacing: 0.2px;
    font-size: 12px;
}
#a3{
    color: white;
    /* float: left; */
    margin-left: 24px;
    margin-top: -24px;
}
/* #a4{
    margin-top: 20px;
} */
#a5{
    margin-left: 64px;
}
#a6{
    width: 100%;
    position: relative;
}
#a7{
position: absolute;
    margin-top: -384px;
    font-size: 60px;
    color: white;
    margin-left: 80px;
    font-weight: 900;
}
#a8{
    position: absolute;
    margin-top: -247px;
}
#b1{
    position: absolute;
    width: 650px;
    margin-top: -140px;
    margin-left: 78px;
}
#b3{
   border-radius: 0px;
   height: 41px;
   width: 176px;

}
#b4{
    width: 192px;
    height: 52px;
    border-radius: 0px;
    
}
#b5{
    width: 1160px;
    margin-left: 95px;
    height: 200px;
    position: relative;
    background-color: white;
}
#b6{
    /* position: absolute; */
background-color: white;
float: left;
width: 232px;
height: 200px;
margin-top: -42px;
}
#b7{
    height: 100px;
    width: 130px;
}
#b8{
    height: 100px;
    width: 100px;
    margin-left: 67px;
    /* margin-bottom: 50px; */
    margin-top: 70px;
}
#b9{
    margin-left: 235px;
    position: relative;

}
#c1{
    margin-top: 200px;
    margin-left: -437px;
    position: absolute;
}
/* #c2{
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    color: white;
    
}
#c4{
    position: relative;
} */
.c5{
    margin-top: -10px;
}
#c3{
    margin-top: -472px
}
#c6{
    height: 200px;
    border-radius: 150px;
}
#c2{
    margin-top: -600px;
    color: white;
    margin-left: 450px;
}
#c7{
    margin-top: -600px;
    color: white;
    margin-left: 495px;
}
#c8{
    margin-top: -600px;
    color: white;
    margin-left: 313px;
}
/* #D9{
    margin-top: -500px;
    margin-left: 50px;
    background-color: rgb(34, 127, 143);
} */
#d1{
    margin-left: 50px;
}
#d2{
    margin-left: 70px;
}
#d3{
    margin-bottom: 50px;
}
#d4{
    font-size: 28px;
    margin-left: 150px;
}
#d5{
    margin-top: -35px;
    width: 500px;
    margin-left: 625px;
}
#d6{
    width: 242px;
}
/* #d7{
    margin-top: 100px;
} */
#d8{
    margin-left: 700px;
    margin-bottom: 50px;
}